<style>
#divii_video{
  background-color:#000;
}
#divii_video_html5_api{
  position: relative !important;
  width: 100% !important;
  height: auto !important;

}
.vjs-control-bar{
  display:none;
}
</style>
<div layout="column" flex>
  <md-toolbar
    layout="row"
    layout-align="start center"
    style="background-color:#2c3e50;">
    <div class="md-toolbar-tools">
      <md-button  class="md-icon-button" hide-gt-md
                  ng-click="toggleSidenav('left')" aria-label="Show Menu">
        <md-icon md-svg-icon="navigation:ic_menu_24px" style="color:white;"></md-icon>
      </md-button>
      <h2><span>Clips</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="More" ng-href="orders"
        ng-show="orders.length > 0" style="color:#e74c3c;">
        <md-icon md-svg-icon="action:ic_shopping_cart_24px" style="color:#e74c3c;"></md-icon> {{orders.length}}
      </md-button>
      <md-button class="md-icon-button" aria-label="More" ng-href="home">
        <md-icon md-svg-icon="action:ic_home_24px"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-content class="md-padding" layout="row" layout-wrap layout-fill flex>
    <md-tabs flex="100" md-selected="selectedTabIndex">
        <md-tab id="tab1" label="Talks">
          <md-content class="md-padding">
            <md-list>
              <md-list-item class="md-3-line" ng-repeat="clip in clips | category:'talk'"
                layout-row layout-wrap layout-padding layout-align="center start">
                <div flex-sm="100" flex-gt-sm="33" layout-padding style="padding-top:16px;">
                  <img ng-src="{{contentServer+'/clips/talk/'+clip.id+'/cover.jpg'}}"
                    alt="" style="width:100%"
                    ng-click="selectClip(clip._id)"/>
                </div>
                <div class="md-list-item-text" flex-sm="100" flex-gt-sm="66" style="padding-left:10px;">
                  <h3 style="line-height:20px;">{{ clip.title }}</h3>
                  <h4>{{ clip.year }}</h4>
                  <p>{{ clip.description | characters:160:false }}</p>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
        </md-tab>
        <md-tab id="tab2" label="Musics">
          <md-content class="md-padding">
            <md-list>
              <md-list-item class="md-3-line" ng-repeat="clip in clips | category:'music'"
                layout-row layout-wrap layout-padding layout-align="center start">
                <div flex-sm="100" flex-gt-sm="33" layout-padding style="padding-top:16px;">
                  <img ng-src="{{contentServer+'/clips/music/'+clip.id+'/cover.jpg'}}"
                    alt="" style="width:100%"
                    ng-click="selectClip(clip._id)"/>
                </div>
                <div class="md-list-item-text" flex-sm="100" flex-gt-sm="66" style="padding-left:10px;">
                  <h3 style="line-height:20px;">{{ clip.title }}</h3>
                  <h4>{{ clip.year }}</h4>
                  <p>{{ clip.description | characters:160:false }}</p>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
        </md-tab>
        <md-tab id="tab3" label="{{showVideoPlayer? 'Playing':''}}" ng-disabled="!showVideoPlayer">
          <md-content>
            <div layout="row" layout-align="center center" flex="100" style="background-color:#000;">
              <div layout="row" flex flex-gt-md="80" flex-gt-lg="75" layout-fill layout-align="center center">
                <video id="divii_video" width="auto" height="auto" class="video-js vjs-default-skin"
                data-setup='{"nativeControlsForTouch": true}' layout="column" layout-align="end center">
                 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
              </div>
            </div>
            <div layout-padding layout="row">
              <div layout="column" layout-fill flex>
                <h2 class="md-title">{{selectedClip.title}}</h2>
                <p class="md-subhead">Created: {{selectedClip.year}}</p>
                <p class="md-body-1">{{selectedClip.description}}</p>
              </div>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
  </md-content>
</div>
