<md-dialog aria-label="Update clip" style="max-height:100%;">
  <md-dialog-content>
    <form name="updateClipForm" layout="row" layout-wrap flex="100">
      <div flex="100" ng-show="errMsg" style="color:#e74c3c;"><h4>{{errMsg}}</h4></div>
      <md-input-container flex="100">
        <label>Code</label>
        <input ng-model="clip.code" disabled>
      </md-input-container>
      <md-input-container flex="50" flex-sm="100">
        <label>Active</label>
        <input type="datetime-local" ng-model="activeDate"
          placeholder="yyyy-MM-ddTHH:mm:ss" required>
      </md-input-container>
      <md-input-container flex="50" flex-sm="100">
        <label>Expire</label>
        <input type="datetime-local" ng-model="expireDate"
          placeholder="yyyy-MM-ddTHH:mm:ss" min="{{activeDate}}" required>
      </md-input-container>
      <md-input-container flex-gt-md="50" flex-sm="100">
        <label>category</label>
        <input ng-model="clip.category">
      </md-input-container>
      <md-input-container flex-gt-md="50" flex-sm="100">
        <label>year</label>
        <input ng-model="clip.year">
      </md-input-container>
      <md-input-container flex="100">
        <label>title</label>
        <input ng-model="clip.title">
      </md-input-container>
      <md-input-container flex="100">
        <label>description</label>
        <input ng-model="clip.description">
      </md-input-container>
    </form>
  </md-dialog-content>
  <div class="md-actions" layout="row" layout-align="end center">
    <md-button  class="md-icon-button" ng-click="reset()" aria-label="Reset">
      <md-icon md-svg-icon="action:ic_settings_backup_restore_24px"></md-icon>
    </md-button>
    <md-button
      ng-click="updateClip()"
      class="md-primary">UPDATE</md-button>
    <md-button ng-click="cancelUpdate()" class="md-primary">CANCEL</md-button>
  </div>
</md-dialog>
