<md-dialog aria-label="Reset password">
  <md-dialog-content>
    <form name="resetPasswordForm" layout="row" layout-wrap flex="100">
      <div flex="100" ng-show="errMsg" style="color:#e74c3c;"><h4>{{errMsg}}</h4></div>
      <md-input-container flex="100" md-no-float>
        <label>New password</label>
        <input ng-model="password" required>
      </md-input-container>
    </form>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button
      ng-click="resetPassword()"
      class="md-primary">RESET PASSWORD</md-button>
    <md-button
      ng-click="cancelReset()"
      class="md-primary">CANCEL</md-button>
  </div>
</md-dialog>
