<style>
  .item-action-menu .item-action-icon {color:#ECF0F1;margin-bottom:4px;}
</style>

<md-toolbar
  layout="row"
  layout-align="start center"
  style="background-color:#2c3e50;">
  <div class="md-toolbar-tools">
    <md-button  class="md-icon-button" hide-gt-md
                ng-click="$parent.toggleSidenav('app-manager-sidenav')" aria-label="Show Menu">
      <md-icon md-svg-icon="navigation:ic_menu_24px" style="color:white;"></md-icon>
    </md-button>
    <h2><span>Fnb Update Packages</span></h2>
    <span flex></span>
    <label class="md-raised md-button md-warn" md-ink-ripple for="file-input">
      <span>upload</span>
    </label>
    <input id="file-input" type="file" ng-hide="true"
        onchange="angular.element(this).scope().uploadPackage()">
  </div>
</md-toolbar>
<md-content
  layout="row" layout-wrap layout-padding layout-align="center start"
  style="padding-bottom:56px;" flex>
  <md-list flex-sm="100" flex-md="80" flex-lg="75" flex-gt-lg="60">
    <md-list-item ng-repeat-start="fnbUpdatePackage in fnbUpdatePackages" class="md-2-line"
      layout="row" layout-wrap layout-margin>
      <md-icon hide-sm md-svg-icon="action:ic_launch_24px" ng-click="viewPackageContent(fnbUpdatePackage._id)"></md-icon>
      <div class="md-list-item-text" flex style="padding-bottom:0px;">
        <h3>
          <span ng-click="">
            {{fnbUpdatePackage.original.name.substring(fnbUpdatePackage.original.name.indexOf('_') + 1 ,fnbUpdatePackage.original.name.lastIndexOf('.'))}}
          </span>
        </h3>
        <p>{{ fnbUpdatePackage.uploadedAt | date:'medium'}}</p>
      </div>
      <md-icon md-svg-icon="navigation:ic_menu_24px"
          ng-click="openActionBar(fnbUpdatePackage._id)"
          ng-hide="opennedItemAction == fnbUpdatePackage._id"></md-icon>
      <md-icon md-svg-icon="content:ic_remove_24px" style="color:#E74C3C;"
          ng-click="closeActionBar()"
          ng-show="opennedItemAction == fnbUpdatePackage._id"></md-icon>
      <md-progress-linear class="md-accent" md-mode="determinate"
            ng-hide="fnbUpdatePackage.uploadProgress() == 100"
            ng-value="fnbUpdatePackage.uploadProgress()"></md-progress-linear>
      <div flex="100" style="background-color:#2980B9;height:40px;margin-bottom:16px;padding-right:0px;"
        layout="row" layout-padding layout-wrap layout-align="start center"
        ng-show="opennedItemAction == fnbUpdatePackage._id">
        <div style="width:48px;" layout layout-align="center center">
          <md-icon md-svg-icon="action:ic_delete_24px"
            ng-click="removePackage($event, fnbUpdatePackage._id)"
            style="color:white;"></md-icon>
        </div>
        <div flex></div>
        <div
          ng-click="publishPackageContent(fnbUpdatePackage._id)"
          layout-align="center center"
          style="background-color:#F44336;color:#FFF;margin-right:0px;height:40px;width:80px;">
          <span style="font-size:13px;padding-left:12px;line-height:40px;">PUBLISH</span>
        </div>
      </div>
    </md-list-item>
    <md-divider ng-repeat-end></md-divider>
  </md-list>
</md-content>
