<md-toolbar
  layout="column"
  layout-align="start center"
  style="background-color:#2c3e50;">
  <div class="md-toolbar-tools" layout-wrap>
    <md-button  class="md-icon-button" hide-gt-md
                ng-click="$parent.toggleSidenav('app-manager-sidenav')" aria-label="Show Menu">
      <md-icon md-svg-icon="navigation:ic_menu_24px" style="color:white;"></md-icon>
    </md-button>
    <h2><span>Content Server</span></h2>
    <span flex></span>
    <md-button  class="md-icon-button" ng-click="reset()" aria-label="Reset">
      <md-icon md-svg-icon="action:ic_settings_backup_restore_24px"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-content layout="column" style="padding-bottom:56px;background-color:#ecf0f1;">
  <div layout="row" layout-wrap layout-align="center start" flex="100"
    style="padding-bottom:72px;">
    <form name="updateContentServerForm"
      layout="row" layout-wrap layout-padding
      flex-sm="100" flex-md="80" flex-lg="75" flex-gt-lg="60">
      <md-whiteframe class="md-whiteframe-z3" flex="100"
        layout layout-wrap layout-padding layout-align="start center"
        style="margin-top:8px;margin-bottom:16px;padding-top:0px;padding-bottom:24px;background-color:#fff;">
        <md-input-container flex="100">
          <label>Base URL</label>
          <input ng-model="contentServer.baseUrl">
        </md-input-container>
      </md-whiteframe>

      <md-whiteframe class="md-whiteframe-z3" flex="100"
        layout layout-wrap layout-padding layout-align="center start"
        style="margin-bottom:16px;padding-bottom:24px;padding-top:0px;background-color:#fff;">
        <h5 class="md-title" style="margin-top:16px; margin-bottom:0px;" flex="100">Clips stream</h5>
        <md-input-container flex="100">
          <label>Stream URL</label>
          <input ng-model="contentServer.clip.streamUrl">
        </md-input-container>
        <md-input-container flex="100">
          <label>'Remove' REST URL</label>
          <input ng-model="contentServer.clip.removeUrl">
        </md-input-container>
      </md-whiteframe>

      <md-whiteframe class="md-whiteframe-z3" flex="100"
        layout layout-wrap layout-padding layout-align="center start"
        style="margin-bottom:16px;padding-bottom:24px;padding-top:0px;background-color:#fff;">
        <h5 class="md-title" style="margin-top:16px; margin-bottom:0px;" flex="100">Movies stream</h5>
        <md-input-container flex="100">
          <label>Stream URL</label>
          <input ng-model="contentServer.movie.streamUrl">
        </md-input-container>
        <md-input-container flex="100">
          <label>'Remove' REST URL</label>
          <input ng-model="contentServer.movie.removeUrl">
        </md-input-container>
      </md-whiteframe>

      <md-whiteframe class="md-whiteframe-z3" flex="100"
        layout layout-wrap layout-padding layout-align="center start"
        style="margin-bottom:16px;padding-bottom:24px;padding-top:0px;background-color:#fff;">
        <h5 class="md-title" style="margin-top:16px; margin-bottom:0px;" flex="100">Partner's page</h5>
        <md-input-container flex="100">
          <label>Page load URL</label>
          <input ng-model="contentServer.partnerSpa.loadUrl">
        </md-input-container>
      </md-whiteframe>

    </form>
  </div>
</md-content>
<md-button aria-label="update train info" class="md-fab md-fab-bottom-right md-raised md-primary"
  ng-click="updateContentServer()">
  <md-icon md-svg-icon="content:ic_save_24px"></md-icon>
</md-button>
